<div class="article_card">
    <div class="article_card__image">
        <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/blog-2.jpg" alt="blog-img"/>
    </div>
    <div class="article_card__content">
        <div class="article_card__info">November 28, 2022  -  by Helen Smith</div>
        <h3 class="article_card__heading h4">
            <a href="{{ article.url }}" class="text-reset d-block">
                Sustainable Clothing Brands
              {{ article.title | escape | truncate: 50 }}
            </a>
        </h3>
    </div>
</div>