<div class="collection_card">
    <div class="collection_card__image">
        <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/collection-2.jpg" alt="collection"/>
    </div>
    <div class="collection_card__content">
        <h3 class="h4 collection_card__title">SHOP EARRINGS</h5>
        <p>Hot deals. High Quality Earrings</p>
    </div>
</div>