<div class="product_card">
    <div class="product_card__image">
        <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/product-img-1.jpg" alt="product" />
        <div class="product_card__badges">
            <span class="badges">Sale</span>
            <span class="badges">Sold out</span>
        </div>
        <div class="product_card__image_overlay">
            <a href="#" class="btn btn-white">QUICK VIEW</a>
        </div>
    </div>
    <div class="product_card__content">
        <h3 class="product_card__title"><a href="#" class="text-reset">Morning After Shirt Dress</a></h3>
        <div class="price">
            <span class="price__regular">$68.95 USD</span>
            <span class="price__sale">$68.95 USD</span>
        </div>
        <div class="product_card__optoins">
            <div class="product_card__optoins_size">
                <span class="product_card__optoins_size_item">XS</span>
                <span class="product_card__optoins_size_item">S</span>
                <span class="product_card__optoins_size_item">M</span>
                <span class="product_card__optoins_size_item">L</span>
                <span class="product_card__optoins_size_item">XL</span>
            </div>
            <div class="product_card__optoins_color">
                <span class="product_card__optoins_color_item"><span class="visually-hidden">red</span></span>
                <span class="product_card__optoins_color_item"><span class="visually-hidden">blue</span></span>
                <span class="product_card__optoins_color_item"><span class="visually-hidden">brown</span></span>
            </div>
        </div>
    </div>
</div>