<div class="product_card">
    <div class="product_card__image">
        <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/Spell-LeiLeiFrillPlaydress-CreamFloral-000095720004_720x_d9544716-16c6-4d7a-b24f-3c1d89e523b2.webp" alt="product" />
        <div class="product_card__badges {% if settings.badge_position == "top right" %}text-right{% endif %}">
            <span class="badge sale_badge">Sale</span>
            <span class="badge sold_badge">Sold out</span>
        </div>
        <div class="product_card__image_overlay">
            <a href="#" class="btn btn-white">QUICK VIEW</a>
        </div>
    </div>
    <div class="product_card__content">
        <h3 class="h4 product_card__title"><a href="#" class="text-reset">Crochet Mini Dress</a></h3>
        <div class="price">
            <span class="price__regular">$68.95 USD</span>
            <span class="price__sale">$68.95 USD</span>
        </div>
        <div class="product_card__optoins">
            <div class="product_card__optoins_size">
                <span class="product_card__optoins_size_item">XS</span>
                <span class="product_card__optoins_size_item">S</span>
                <span class="product_card__optoins_size_item">M</span>
                <span class="product_card__optoins_size_item">L</span>
                <span class="product_card__optoins_size_item">XL</span>
                <span class="product_card__optoins_size_badge">+ 5 more</span>
            </div>
            <div class="product_card__optoins_color">
                <span class="product_card__optoins_color_item" style="background-color:#cf0303;"><span class="visually-hidden">red</span></span>
                <span class="product_card__optoins_color_item" style="background-color:#4068cf;"><span class="visually-hidden">blue</span></span>
                <span class="product_card__optoins_color_item" style="background-color:#f7903f;"><span class="visually-hidden">brown</span></span>
                <span class="product_card__optoins_color_badge">+ 5 more</span>
            </div>
        </div>
    </div>
</div>