<div class="review_card">
    <div class="review_card__top">
        <div class="review_card_star">
            <ul class="list-unstyled d-flex">
                <li class="active">
                    {% render 'icon-star' %}
                </li>
                <li class="active">
                    {% render 'icon-star' %}
                </li>
                <li class="active">
                    {% render 'icon-star' %}
                </li>
                <li class="active">
                    {% render 'icon-star' %}
                </li>
                <li>
                    {% render 'icon-star' %}
                </li>
            </ul>
        </div>
        <div class="review_card__content">
            <p>“Few brands manage to harness the talent of French and Italian mills in a way that honours the tradition of the makers. Here Chanet excels as the challenger.”</p>
        </div>
    </div>
    <div class="review_card__footer">
        <div class="author_wrap">
            <div class="author_img">
                <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/author-img-1.png" alt="author name" />
            </div>
            <div class="author_content">
                <div class="author_position">Head Of Offcer</div>
                <div class="author_name">Roboto Dose</div>
            </div>
        </div>
    </div>
</div>
