{% style %}

  .annoucement-bar-wrapper {
    background-color: {{ section.settings.annoucement-bar-bg-color}};
    color: {{ section.settings.annoucement-bar-text-color}};
  }
{% endstyle %}

{% if section.settings.annoucement-bar-text != blank %}
<div class="annoucement-bar-wrapper">
  <div class="page-width">
    <div class="annoucement-bar-content {{section.settings.annoucement-bar-alignment}}">
      <p>{{section.settings.annoucement-bar-text}}</p>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Annoucement bar",
    "settings": [
      {
        "type": "text",
        "id": "annoucement-bar-text",
        "label": "Text",
        "default": "Welcome to store"
      },      
      {
        "type": "select",
        "id": "annoucement-bar-alignment",
        "label": "Text alignment",
        "options": [
          {            
            "value": "text-left",
            "label": "Left"
          },
          {            
            "value": "text-center",
            "label": "Center"
          },
          {            
            "value": "text-right",
            "label": "Right"
          }
        ],
        "default": "text-center"
      },
      {
        "type": "color",
        "id": "annoucement-bar-bg-color",
        "label": "background color",
        "default": "#FFD7D7"
      }, {
        "type": "color",
        "id": "annoucement-bar-text-color",
        "label": "Text color",
        "default": "#232323"
      }
    ]
  }
{% endschema %}