{{ 'section-image-with-text-vertical.css' | asset_url | stylesheet_tag }}

{% style %}
@media (min-width:992px) {
    .image_with_text_vertical_wrapper {
        padding-top: 100px;
        padding-bottom:100px;
    }
}
{% endstyle %}
<div class="image_with_text_vertical_wrapper">
    <div class="page-width">
        <div class="grid-row">
            <div class="grid-col-lg-6 grid-col-12">
                <div class="image_with_text_vertical_container flex-column">
                    <div class="image_with_text_vertical--content">
                        <h2>Effortlessly refined styles <br/> for celebrating</h2>
                        <div class="btn_wrap">
                            <a href="#" class="btn btn-primary btn-arrow">Women collection {% render 'icon-arrow-right' %}</a>
                        </div>
                    </div>
                    <div class="image_with_text_vertical--img">
                        <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/woman-in-summer-floral-fashion.jpg?v=1669962119" alt="girls"/>
                    </div>
                </div>
            </div>
            <div class="grid-col-lg-6 grid-col-12">
                <div class="image_with_text_vertical_container flex-column-reverse">
                    <div class="image_with_text_vertical--content">
                        <h2>A stand out shirt is a one-and-done autumn look</h2>
                        <div class="btn_wrap">
                            <a href="#" class="btn btn-primary btn-arrow">Men collection {% render 'icon-arrow-right' %}</a>
                        </div>
                    </div>
                    <div class="image_with_text_vertical--img">
                        <div class="image_with_text_vertical--circletext">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
                                <defs>
                                    <path id="circlePath" d=" M 75, 75 m -30, 0 a 30,30 0 0,1 60,0 a 30,30 0 0,1 -60,0 "/>
                                </defs>
                                <circle cx="75" cy="50" r="37.5" fill="none"/>
                                <g>
                                    <use xlink:href="#circlePath" fill="none"/>
                                    <text fill="#000">
                                        <textPath xlink:href="#circlePath">Store-FASHION-STYLE-</textPath>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/man-in-summer-floral-fashion.jpg?v=1669962122" alt="girls"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Image with text vertical",
  "tag": "section",
  "class": "section",
  "settings": [
  ],

  "presets": [
    {
      "name": "Image with text vertical"
    }
  ]
}
{% endschema %}