
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}


<div class="banner_image_wrapper banner_image_large bg_cover bg_right_top" style="background-image: url(https://cdn.shopify.com/s/files/1/0618/9232/9644/files/Banner.jpg);">
    <div class="page-width">
    <div class="grid-row">
      <div class="grid-col-xl-7 grid-col-lg-8 grid-col-12">
      <div class="banner_image_content_wrap">
        <h1>Further Reductions <br/>Up To 70% Off On Sale</h1>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In rhoncus augue nibh, at ullamcorper orci ullamcorper ut.</p>
        </div>
          <div class="btn_wrap">
            <a href="#" class="btn btn-white btn-arrow">Explore Collection {% render 'icon-arrow-right' %}</a>
          </div>
          </div>
      </div>
    </div>
   </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
  ],

  "presets": [
    {
      "name": "t:sections.image-banner.presets.name"
    }
  ]
}
{% endschema %}