{{ 'section-image-block.css' | asset_url | stylesheet_tag }}

<div class="image_block_wrapper">
    <div class="page-width">
        <div class="grid-row">
            <div class="grid-col-lg-4 grid-col-md-6 grid-col-12">
                <div class="image_block--block text-center">
                    <div class="image_block--block-img">
                        {% render 'icon-tree' %}
                    </div>
                    <div class="image_block--content">
                      <h4 class="h5 image_block--content-title">Sustainably sourced</h5>
                      <p>Made in Canada using 100% ethically-sourced and sustainable materials. We believe in the long term.</p>
                    </div>
                </div>
            </div>
            <div class="grid-col-lg-4 grid-col-md-6 grid-col-12">
              <div class="image_block--block text-center">
                  <div class="image_block--block-img">
                      {% render 'icon-wallet' %}
                  </div>
                  <div class="image_block--content">
                    <h4 class="h5 image_block--content-title">Fair pricing</h5>
                    <p>We're able to keep quality high and costs low by selling direct to you and avoiding traditional markups.</p>
                  </div>
              </div>
          </div>
          <div class="grid-col-lg-4 grid-col-md-6 grid-col-12">
            <div class="image_block--block text-center">
                <div class="image_block--block-img">
                    {% render 'icon-chat' %}
                </div>
                <div class="image_block--content">
                  <h4 class="h5 image_block--content-title">24h Support</h5>
                <p>Our amazing support team is always happy to help with your order, shipping and return.</p>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Image block",
  "tag": "section",
  "class": "section",
  "settings": [
  ],

  "presets": [
    {
      "name": "Image block"
    }
  ]
}
{% endschema %}