.header-wrapper {
    position: relative;
    transition: var(--base-transition);
}
.header-fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header-bar > .page-width,
.header-bar > .page-width-fluid,
.header-bar > .page-width-xl,
.header-bar > .page-width-xxl,
.header-bar > .page-width-lg,
.header-bar > .page-width-md,
.header-bar > .page-width-sm {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.header-brand {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 16px;
    font-size: var(--heading-h5-font-size);
    color: var(--color-dark);
    text-decoration: none;
    white-space: nowrap;
}
.header-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.menu-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu-item {
    margin: 15px 5px;
}
.menu-link {
    display: block;
    padding: 16px 10px 15px;
    margin: 0;
    border: 0;
    border-radius: 0;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: normal;
    font-family: var(--navigation-font-family);
    font-style: var(--navigation-font-style);
    font-weight: var(--navigation-font-weight);
    color: var(--color-dark);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right button {
    position: relative;
    padding: 7px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    min-height: 40px;
}
.cart-icon-btn, .account-btn {
    position: relative;
    padding: 7px 15px;
    outline: 0;
    border: 0;
    color: var(--color-dark);
}
.cart-icon-badge {
    display: block;
    text-align: center;
    letter-spacing: normal;
    position: absolute;
    top: 4px;
    right: 7px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 9px;
    border-radius: 100%;
    background-color: var(--color-dark);
    color: var(--color-white);
}
@media (min-width: 992px) {
    .header-bar {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .header-toggler {
        display: none;
    }
    .header-collapse{
        display: flex!important;
        flex-basis: auto;
    }
    .menu-wrapper {
        flex-direction: row;
    }
    /*-=-= Mega menu -=-=-*/
    .megamenu_dropdown_wrap {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 70vh;
        overflow-y: auto;
        background: var(--color-white);
        padding: 45px 0;
        border-top: 1px solid rgba(var(--color-dark-rgb), 0.5);
    }
    .megamenu_dropdown_block--list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .megamenu_dropdown_block--list-link {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.08em;
        color: var(--color-body);
    }
}


