.banner_image_large {
    min-height: 620px;
}
.banner_image_medium {
    min-height: 500px;
}
.banner_image_small {
    min-height: 400px;
}


@media (min-width:768px) {
    .banner_image_large {
        min-height: 720px;
    }
    .banner_image_medium {
        min-height: 560px;
    }
    .banner_image_small {
        min-height: 480px;
    }
}